body {
    background-color: #262626;
}


.logo {
    display: block;
    margin: 0 auto;
    width: 27%;
}

.row {
    margin-top:20px;
}

/* .carousel-caption {
background-color: rgba(0, 0, 0, 0.7)
} */


.maisLidas {
   border-radius:  15px;
   text-align: center;
   color: white;
   border: solid 3px;
   padding: 7px;
}

.rodape {
    color:white ;
}

footer{
    clear: both;
}

#barraCotacoes {
    color: snow;
    margin: 20px;
    text-align: center;
}

.cotacBar {
    width: 205px;
    float: left;
}

